{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Faux Bank</title>
    <link rel="stylesheet" href='{% static "main/css/bootstrap.css" %}'media="screen" title="bootstrap" charset="utf-8">
  </head>
  <body>

<div class="container">
      <li role ="presentation" class="active"><a href="{% url 'login' %}?next=/">Login</a></h3>

      <li role ="presentation" class="active"><a href="{% url 'create_new_user' %}">Create New User</a>

        {% if request.user.is_authenticated %}
        <li role ="presentation" class="active"><a href="{% url 'account' %}">User Account</a></h3>
        <li role ="presentation" class="active"><a href="{% url 'logout' %}?next=/">Logout</a></h3>


        {% endif %}

      {% block content %}
          No content provided
      {% endblock %}
    </div>

  </body>
</html>
