{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Faux Bank</title>
    <link rel="stylesheet" href='{% static "main/css/bootstrap.css" %}'media="screen" title="bootstrap" charset="utf-8">
  </head>
  <body>
    <br>
    <div class="container
      <a href="{%url 'index_view'%}">Transactions: Last 30 Days</a
      <a href="{%url 'chirp_create_view'%}">Create New Transaction</a>
      <a href="{%url 'login'%}">Login</a>
      <a href="{%url 'logout'%}?next=/">Logout</a>
      {% block content %}
          No content provided
      {% endblock %}
    </div>

  </body>
</html>
